/* Color Palette */
:root {
    --primary-color: #1A374D;
    --secondary-color: #406882;
    --accent-color: #B1D0E0;
    --background-color: #F0F5F9;
    --text-color: #1A374D;
    --content-background-color: #FFFFFF;
    --content-text-color: #333333;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
    color: var(--text-color);
}

.profile-container {
    max-width: 800px;
    margin: 50px auto;
    background-color: var(--content-background-color);
    padding: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.profile-header {
    text-align: center;
    margin-bottom: 30px;
}

.profile-photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid var(--primary-color);
    margin-bottom: 20px;
}

.profile-header h1 {
    margin: 0;
    font-size: 2.5em;
    color: var(--primary-color);
}

.profile-header p {
    margin: 0;
    color: var(--secondary-color);
    font-size: 1.2em;
}

.profile-content h2 {
    color: var(--primary-color);
    margin-bottom: 10px;
    border-bottom: 2px solid var(--accent-color);
    padding-bottom: 5px;
}

.profile-content p, .profile-content ul {
    color: var(--content-text-color);
    line-height: 1.6;
    margin-bottom: 20px;
}

.profile-content ul {
    list-style-type: disc;
    padding-left: 20px;
}

.profile-content ul li {
    margin-bottom: 5px;
}